<nav>
    <h1>
        {{- range .Ancestors.Reverse }} <a href="{{- .RelPermalink }}">{{ .LinkTitle | lower }}</a> / {{ end -}}
        {{ if .IsHome}} <a href="{{- .RelPermalink }}">{{- .Title | lower }}</a>
        {{ if .Site.Params.nav.use_content }}
        {{ range .Sections }} / <a href="{{- .RelPermalink }}">{{- .Title | lower }}</a> {{ end }}
        {{ end }}
        {{ else if eq .BundleType "leaf" }} {{- printf "%s%s" ( .Title | lower ) ( path.Ext . ) -}}
        {{ else if .IsPage }} {{- path.Base . | lower -}}
        {{ else }} <a href="{{- .RelPermalink }}">{{- .Title | lower }}</a> {{ end -}}
    </h1>
    <hr>
</nav>